<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.ingredient.name %> : <strong><%= dose.description %></strong>
    <%= link_to "ðŸ—‘ï¸", dose_destroy_path(@cocktail, dose), method: :delete %></p>
  <% end %>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back to list", cocktails_path %>
</div>
